<div class="center jumbotron">
  <h2>Welcome to the Hero Stories App</h2>

  <%= form_tag home_path, method: :get, role: 'search' do %>

    <%= text_field_tag :query, params[:query] %>

    <%= submit_tag 'Search', name: nil %>

  <% end %>

  <% if @search %>
    <h2>Search results</h2>
  <% else %>
    <h2>Recently updated</h2>
  <% end %>
    <% @stories_bundle.each do |result| %>
      <%= "%s | chapter_%s | %s" %[
          result.story.title,
          result.number.to_s,
          result.updated_at.to_s.split(' ')[0]] %>

      <br>
      <div><%=  result.content.split[0..80].join(' ') + '..'.html_safe %></div>
      <hr>
    <% end %>
</div>
