<div class="center jumbotron">
  <h2>Welcome to the Hero Stories App</h2>

  <%= form_tag home_path, method: :get, role: 'search' do %>
    <%= text_field_tag :query, params[:query] %>

    <%= submit_tag 'Search', name: nil %>
  <% end %>

  <% if @search %>
    <h2>Search results</h2>
  <% else %>
    <h2>Recently updated</h2>
  <% end %>
    <% @stories_bundle.each do |result| %>

      <span class="title"><%= link_to result.story.title, story_path(result.story) %></span> |
      <span class="chapter"><%= link_to "chapter_" + result.number.to_s, chapter_path(result) %></span> |
      <span class="timestamp"><%= result.updated_at.to_s.split(' ')[0] %></span>

      <br>
      <div><%= result.content.split[0..80].join(' ') + '..' %></div>
      <hr>
    <% end %>
</div>
