<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="preview">
    <%= image_tag 'placeholder.jpg', class: 'img', style: 'display: block; margin-left: auto; margin-right: auto;' %>
  </div>

  <button id="upload_widget" type="button" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto">
    Primary
  </button>

  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.hidden_field :image_id %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>

  <!--Direct uploading from the browser:-->
  <!--https://cloudinary.com/documentation/rails_image_and_video_upload#direct_uploading_environment_setup-->
  <%= cloudinary_js_config %>

  <!--  When refresh, save previous image-->
  <script type="text/javascript">
      let myStr = $('#user_image_id').val();
      if (myStr !== '') {
          $('.img').attr({
              src: myStr,
              width: 100,
              height: 100
          });
      }
  </script>

  <!--  https://cloudinary.com/documentation/upload_widget#quick_example-->
  <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

  <script type="text/javascript">
      $("#upload_widget").bind("click", function () {
          const myWidget = cloudinary.createUploadWidget({
                  cloudName: 'div9qgkrv',
                  uploadPreset: 'ml_default'
              }, function (error, result) {
                  if (!error && result && result.event === "success") {
                      // Set a value to field
                      $('#user_image_id').val(result.info.url);
                      // Set image preview
                      $('.preview').html(
                          $.cloudinary.image(result.info.public_id,
                              {
                                  format: result.info.format, version: result.info.version,
                                  crop: 'thumb', width: 100, height: 100,
                                  style: 'display: block; margin-left: auto; margin-right: auto;'
                              })
                      );
                  }
              }
          );
          myWidget.open();
      });
  </script>
</div>
